# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      # grouping updates of AWS SDK for Go v2
      aws-sdk:
        patterns:
          - github.com/aws/aws-sdk-go-v2
          - github.com/aws/aws-sdk-go-v2/*
  - package-ecosystem: "gomod"
    directory: "/holidays-api/"
    schedule:
      interval: "daily"
    groups:
      # grouping updates of AWS SDK for Go v2
      aws-sdk:
        patterns:
          - github.com/aws/aws-sdk-go-v2
          - github.com/aws/aws-sdk-go-v2/*
  - package-ecosystem: "gomod"
    directory: "/update-trigger/trigger/"
    schedule:
      interval: "daily"
    groups:
      # grouping updates of AWS SDK for Go v2
      aws-sdk:
        patterns:
          - github.com/aws/aws-sdk-go-v2
          - github.com/aws/aws-sdk-go-v2/*

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
