name: deploy to production
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      statuses: write
      contents: read
    environment: production

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: 'holidays-api/go.mod'
          cache-dependency-path: "**/go.sum"

      - name: build the API
        run: make build
      - name: build the the updater-trigger
        run: make build
        working-directory: update-trigger

      - uses: fuller-inc/actions-aws-assume-role@c936409c1d11aae9fcc2603e09412a352c1d62ee # v1.8.0
        with:
          aws-region: ap-northeast-1
          role-to-assume: arn:aws:iam::445285296882:role/holidays-jp-github-actions-ap-northeast-1
          role-session-tagging: true
          use-node-id: true

      - name: deploy the API
        run: make deploy
      - name: deploy the the updater-trigger
        run: make deploy
        working-directory: update-trigger
