name: Test
on: [push, pull_request]
jobs:
  test-updater:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: 'updater/go.mod'
          cache-dependency-path: 'updater/go.sum'

      - name: Test
        run: go test -race -v -coverprofile=profile.cov ./...
        working-directory: updater

      - name: Send coverage
        uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1 # v1.10.0
        with:
          path-to-profile: profile.cov
          parallel: true
          flag-name: updater
          working-directory: updater

  test-holidays-api:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: 'holidays-api/go.mod'
          cache-dependency-path: 'holidays-api/go.mod'

      - name: Test
        run: go test -race -v -coverprofile=profile.cov ./...
        working-directory: holidays-api

      - name: Send coverage
        uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1 # v1.10.0
        with:
          path-to-profile: profile.cov
          parallel: true
          flag-name: holidays-api
          working-directory: holidays-api

  test-update-trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: 'update-trigger/trigger/go.mod'
          cache-dependency-path: 'update-trigger/trigger/go.mod'
          cache: true

      - name: Test
        run: go test -race -v -coverprofile=profile.cov ./...
        working-directory: update-trigger/trigger

      - name: Send coverage
        uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1 # v1.10.0
        with:
          path-to-profile: profile.cov
          parallel: true
          flag-name: update-trigger/trigger
          working-directory: update-trigger/trigger

  finish:
    if: 'always()'
    needs:
      - test-updater
      - test-holidays-api
      - test-update-trigger
    runs-on: ubuntu-latest
    steps:
      - name: finish
        uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1 # v1.10.0
        with:
          parallel-finished: true
