name: Update
on:
  repository_dispatch:
    types: [update]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'updater/go.mod'
          cache-dependency-path: 'updater/go.sum'

      - name: Update syukujitsu.csv
        run: go run main.go
        working-directory: updater

      - name: Generate token
        id: token
        uses: shogo82148/actions-github-app-token@v0

      - name: commit
        uses: shogo82148/actions-commit-and-create-pr@v1
        with:
          github-token: ${{ steps.token.outputs.token }}
          commit-message: "update syukujitsu.csv"
